<div class="bg-light lter b-b wrapper-sm hidden-print">
    <ul class="breadcrumb bg-white b-a m-b-none">
        <li><a href>上门客户</a></li>
        <li class="active">所有客户</li>
    </ul>
</div>
<div class="row" ng-controller="visitCenterCtrl">
    <div class="col-sm-12 col-lg-12">
        <!--  查询  -->
        <div class="row wrapper-sm">
            <div class="col-lg-12 col-sm-12">
                <form class="form-inline" role="form">
                    <div class="row m-b">
                        <div class="col-sm-12 col-lg-12">
                            <div class="row">
                                <div class="col-lg-1 col-sm-1">
                                    <div class="form-group m-r">
                                        <select name="" class="form-control">
                                            <option value="0">请选择城市</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2">

                                    <div class="form-group">
                                        <select name="" id="selectType" class="form-control" multiple
                                                ng-model="vm.selectType">
                                            <option value="name">姓名</option>
                                            <option value="time">时间</option>
                                            <option value="k_state">客户状态</option>
                                            <option value="last">最新标签标签</option>
                                            <option value="first">首次标签标签</option>
                                            <option value="source">渠道</option>
                                            <option value="follows">跟进次数</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="m-b" ng-if="vm.showType.name">
                                        <div class="form-group m-r">
                                            <select name="" class="form-control" ng-model="bs.name_type">
                                                <option value="">姓名类型</option>
                                                <option value="1">客户姓名/电话</option>
                                                <option value="">客服</option>
                                            </select>
                                        </div>
                                        <div class="form-group m-r">
                                            <select name="" class="form-control" ng-model="bs.dis">
                                                <option value="0">非空白</option>
                                                <option value="1">空白</option>
                                            </select>
                                        </div>
                                        <div class="form-group m-r">
                                            <label class="sr-only"></label>
                                            <input type="text" class="form-control" placeholder="" ng-disabled="bs.dis"
                                                   ng-model="bs.name_value_type">
                                        </div>
                                    </div>
                                    <div class="m-b" ng-if="vm.showType.time">
                                        <div class="form-group m-r">
                                            <select name="" class="form-control" ng-model="bs.date_type">
                                                <option selected value="">时间类型</option>
                                                <option value="">报名时间</option>
                                                <option value="">下次跟进时间</option>
                                                <option value="">首次跟进时间</option>
                                                <option value="">最新跟进时间</option>
                                                <option value="">交接时间</option>
                                                <option value="">预计上门时间</option>
                                                <option value="">上门时间</option>
                                                <option value="">下订时间</option>
                                                <option value="">退订日期</option>
                                                <option value="">合同签订日期</option>
                                                <option value="">合同解约日期</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only">time</label>
                                            <input type="text" class="form-control" id="startTime" placeholder="开始时间"
                                                   ng-model="bs.startTime"
                                                   onclick="laydate({elem: '#startTime',format: 'YYYY-MM-DD hh:mm', max: '2099-06-16 23:59:59', istime: true})">
                                        </div>
                                        <div class="form-group"><span>----</span></div>
                                        <div class="form-group">
                                            <label class="sr-only">time</label>
                                            <input type="text" class="form-control" id="endTime" placeholder="结束时间"
                                                   ng-model="bs.endTime"
                                                   onclick="laydate({elem: '#endTime',format: 'YYYY-MM-DD hh:mm', max: '2099-06-16 23:59:59', istime: true})">
                                        </div>
                                    </div>
                                    <div class="m-b" ng-if="vm.showType.k_state">
                                        <div class="form-group m-r">
                                            <select name="" class="form-control" ng-model="bs.stage">
                                                <option selected value="">客户状态</option>
                                                <option value="">待分配</option>
                                                <option value="">待跟进</option>
                                                <option value="">跟进中</option>
                                                <option value="">无效</option>
                                                <option value="">已转意向</option>
                                                <option value="">已上门</option>
                                                <option value="">已下订</option>
                                                <option value="">已退订</option>
                                                <option value="">已签合同</option>
                                                <option value="">解除合同</option>
                                                <option value="">空白</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="m-b" ng-if="vm.showType.last">
                                        <div class="form-group m-r">
                                            <select name="" class="form-control" ng-model="bs.last">
                                                <option value="">最新跟进标签</option>
                                                <option value="">有效</option>
                                                <option value="">接通</option>
                                                <option value="">未知</option>
                                                <option value="">无效</option>
                                            </select>
                                        </div>
                                        <div class="form-group m-r">
                                            <select name="" class="form-control" ng-model="bs.last_child">
                                                <option value="">子标签</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="m-b" ng-if="vm.showType.first">
                                        <div class="form-group m-r">
                                            <select name="" class="form-control" ng-model="bs.first">
                                                <option value="">首次跟进标签</option>
                                                <option value="">有效</option>
                                                <option value="">接通</option>
                                                <option value="">未知</option>
                                                <option value="">无效</option>
                                            </select>
                                        </div>
                                        <div class="form-group m-r">
                                            <select name=""  class="form-control" ng-model="bs.first_child">
                                                <option value="">子标签</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="m-b" ng-if="vm.showType.source">
                                        <div class="form-group m-r">
                                            <select name="" class="form-control" ng-model="bs.channel">
                                                <option value="">一级渠道</option>
                                                <option value="">线上</option>
                                                <option value="">线下</option>
                                                <option value="">VIP</option>
                                            </select>
                                        </div>
                                        <div class="form-group m-r">
                                            <select name="" class="form-control" ng-model="bs.utm_source">
                                                <option value="">二级渠道</option>
                                                <option value="">电销</option>
                                                <option value="">自建平台</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="m-b" ng-if="vm.showType.follows">
                                        <div class="form-group m-r">
                                            <label class="sr-only">跟进数</label>
                                            <input type="text" class="form-control" placeholder="跟进数"
                                                   ng-model="bs.times">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-group m-r-lg">
                                        <button class="btn w-xs btn-info" type="button" ng-click="">查询</button>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn w-xs btn-primary" type="button" ng-click="">导出</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--  table -->
        <div class="row wrapper-md">
            <div class="col-lg-12 col-sm-12" style="width: 100%; overflow-x: auto; overflow-y: hidden;">
                <div class="result_wrap">
                    <!-- BEGIN PORTLET-->
                    <div>
                        <table class="table result" style="margin-bottom:0;" id="fixedTable">
                            <thead>
                            <tr>
                                <th>
                                    <div class="checkbox">
                                        <label class="i-checks">
                                            <input type="checkbox" ng-model="vm.allChecked" ng-change="vm.checkAll(vm.allChecked)">
                                            <i></i>
                                        </label>
                                    </div>
                                </th>
                                <th>编号</th>
                                <th>操作</th>
                                <th>客户状态</th>
                                <th>信息来源</th>
                                <th>渠道</th>
                                <th>城市</th>
                                <th>客户姓名</th>
                                <th>联系电话</th>
                                <th>首次上门时间</th>
                                <th>交房状态</th>
                                <th>交房时间</th>
                                <th>最新跟进时间</th>
                                <th>客户意向</th>
                                <th>下次跟进时间</th>
                                <th>上门次数</th>
                                <th>下订时间</th>
                                <th>退订时间</th>
                                <th>合同签订日期</th>
                                <th>合同解除日期</th>
                                <th>家装顾问</th>
                                <th>设计师</th>
                            </thead>
                        </table>
                    </div>
                    <div style="height:500px">
                        <div style="overflow-x:visible;overflow-y: auto;height:500px;background-color: #f0f3f6;">
                            <table class="table result" id="show_table">
                                <tbody>
                                <tr ng-repeat="item in vm.items|filter:vm.filter|paging:vm.page.index:vm.page.size">
                                    <td>
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                <input type="checkbox" ng-model="item.$checked">
                                                <i></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>01</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-info" ng-click="pop()">跟进</button>
                                        <button type="button" class="btn btn-sm btn-info" ng-click="vm.openConnect(item.k_name)">交接</button>
                                        <button type="button" class="btn btn-sm btn-danger" ng-click="" ng-if="">激活
                                        </button>
                                        <button type="button" class="btn btn-sm btn-info" ng-click="vm.openDistribute(item.k_name)">分配
                                        </button>
                                    </td>
                                    <td>{{item.k_state}}</td>
                                    <td>{{item.source_one}}</td>
                                    <td>{{item.source_two}}</td>
                                    <td>{{item.source_three}}</td>
                                    <td>{{item.source_four}}</td>
                                    <td>{{item.plan}}</td>
                                    <td>{{item.unit}}</td>
                                    <td>zt-{{item.keyword}}</td>
                                    <td>{{item.page}}/</td>
                                    <td>{{item.adver}}</td>
                                    <td>{{item.k_name}}</td>
                                    <td>{{item.tel}}</td>
                                    <td>{{item.area}}㎡</td>
                                    <td>{{item.num_attr}}</td>
                                    <td>{{item.sign_time}}</td>
                                    <td>{{item.sign_num}}</td>
                                    <td>{{item.connect}}</td>
                                    <td>{{item.first_follow_label}}
                                    </td>
                                    <td>{{item.new_follow_time}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 表格分页 -->
        <div class="row">

            <div class="col-sm-8 col-sm-offset-3">

                <pagination total-items="vm.items|filter:vm.filter|size" ng-model="vm.page.index" max-size="11"
                            items-per-page="vm.page.size"
                            class="pagination-sm pull-left" boundary-links="true"></pagination>
                <ul class="pagination pagination-sm pull-left m-l-lg">
                    <li class="disabled"><a>共</a></li>
                    <li><a>123456</a></li>
                    <li class="disabled"><a>条数据</a></li>
                    <li class="disabled"><a>-</a></li>
                    <li><a>{{vm.page.count}}</a></li>
                    <li class="disabled"><a>页</a></li>
                    <li class="disabled"><a>-</a></li>
                    <li class="disabled"><a>跳转到</a></li>
                    <li><a class="disabled"><input type="number" class="form-control-jump" ng-model="vm.page.index" max="vm.page.count"></a></li>
                </ul>

            </div>

        </div>
        <!-- 分配tpl -->
        <script type="text/ng-template" id="visitCenterDistribute.html">
            <div ng-include="'tpl/distributeTpl.html'"></div>
        </script>

        <!-- 交接tpl -->
        <script type="text/ng-template" id="visitCenterCurrent.html">
            <div ng-include="'tpl/connectTpl.html'"></div>
        </script>
        <!-- toaster directive提示 -->
        <toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
        <!-- / toaster directive -->
    </div>
</div>

